<!DOCTYPE html>
 <html lang="en">
  <head>
   <title>EasyAuth</title>
   <meta charset="UTF-8">
 </head>
 <!-- Below is the initialization snippet for my Firebase project. It will vary for each project -->
 <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
 <!-- Include a simple background image & and title -->
  <div></div>
  <body>
      Oh yeah!
       <h1 align="center" style="color:black;">Time is <%= new Date();%></h1>

  </body>
 </html>
