<!DOCTYPE html>
 <html lang="en">
  <head>
   <title>SUT Smart Irrigation </title>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
 <!-- Below is the initialization snippet for my Firebase project. It will vary for each project -->
 <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
 <script>
   // Initialize Firebase
   var config = {
     apiKey: "AIzaSyC65bubvLtPfHpJAab4FO102ChQBY3CrJc",
     authDomain: "smart-irrigation-system-191707.firebaseapp.com",
     databaseURL: "https://smart-irrigation-system-191707.firebaseio.com",
     projectId: "smart-irrigation-system-191707",
     storageBucket: "smart-irrigation-system-191707.appspot.com",
     messagingSenderId: "973156090960"
   };
   firebase.initializeApp(config);

    // Step 1:
    //  If no user, sign in anonymously with firebase.auth().signInAnonymously()
    //  If there is a user, log out out user details for debugging purposes.
</script>
 <!-- The code below initializes the sign-in widget from FirebaseUI web. -->
 <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
   <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
   <script type="text/javascript">
    var uiConfig = {
     signInSuccessUrl: 'dashboard',
     signInOptions: [
      // Specify providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID
     ],
     // Terms of service url can be specified and will show up in the widget.
     tosUrl: '<your-tos-url>'
    };
    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
 </script>
 <!-- Include a simple background image & and title -->
  <div></div>
  <body>
      <div>
        <br>
       <h5 align="center" style="color:black;">SUT Smart Irrigation System Backend</h5>
        <div id="firebaseui-auth-container"></div>
      </div>
  </body>
 </html>
